.circle{
	background-color: #5caafd;
	width:35vw;
	height: 35vw;
	border-radius:50%;
	position: fixed;
	left:-7%;
	bottom: -25%;
	z-index: 0;
	filter: blur(7px);
}
.circle1{
	background-color: #5caafd;
	width:25vw;
	height: 25vw;
	border-radius:50%;
	position: fixed;
	top:-20%;
	right: 15%;
	z-index: 0;
	filter: blur(7px);
}
.circle2{
	background-color: #5caafd;
	width:10vw;
	height: 10vw;
	border-radius:50%;
	position: fixed;
	top:70%;
	left: 65%;
	z-index: 0;
	filter: blur(7px);
}
.fp-main{
	width: 100vw;
	height:100vh;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: #f2f2f2;
}

.fp-internal{
	z-index: 1;
	height: 60%;
	width:60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	background-color: rgba(255,255,255,0.4);
}

img{
	height:100%;
	width:100%;
}

.btn{
	color:#fff;
	border: none;
	background-color: #5caafd;
}

.btn:hover{
	background-color: #ff9e30;
	color:#fff;
}

.main-child{
	margin-bottom: 5px;
}
